.header {
    margin-top: 25px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image: -o-linear-gradient(left, #ccc, #333, #ccc);
}

.inputOut {
    width: 330px;
    border: 1px solid #CCC !important;
    color: #333 !important;
    font-size: 14px !important;
    background-color: #FFF !important;
    padding: 6px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

/* ============= Login ==============*/
#formLogin {
    width: 574px;
    background-color: #fff;
    padding: 15px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 0 15px 2px #ccc;
    -webkit-box-shadow: 0 0 15px 2px #ccc;
    box-shadow: 0 0 15px 2px #ccc;
    margin: 200px auto 15px;
}

#formLogin a, a:visited {
    text-decoration: none;
}

#formLogin hr {
    opacity: 0.6;
    z-index: 100;
}

#formPerm {
    margin-left: auto;
    margin-right: auto;
    width: 485px;
}

#formLogin input[type=text], input[type=password] {
    width: 380px;
    border: 1px solid #CCC !important;
    color: #333 !important;
    font-size: 14px;
    background-color: rgb(250, 255, 189);
    padding: 6px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#formLogin td:nth-child(1) {
    width: 100px;
    text-align: right;
    font-weight: bold;
    font-family: sans-serif;
    margin-right: 8px;
    margin-top: 8px;
    padding-right: 8px;
}

#formLogin input[type=submit], input[type=reset] {
    border: 1px solid #ccc;
    color: #000;
    text-shadow: 2px 2px 1px #fff;
    padding: 6px 8px;
    cursor: pointer;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    background: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background: -o-linear-gradient(top, #fff, #eaeaea);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eaeaea));
    filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#ffffff', EndColorStr='#eaeaea', GradientType=0)
}

.power {
    float: right;
    font-size: 9px;
    height: 20px;
    z-index: 99;
}

/* ============ Select Company ============*/
.outBoxEmpresa {
    margin-left: auto;
    margin-right: auto;
    width: 990px;
    margin-top: 150px;
}

.caixaLoginEmpresa {
    float: left;
    margin: 20px 15px 20px 0;
    background-color: #fff;
    padding: 20px 15px;
    width: 200px;
    cursor: pointer;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -moz-box-shadow: 0 0 15px 2px #ccc;
    -webkit-box-shadow: 0 0 15px 2px #ccc;
    box-shadow: 0 0 15px 2px #ccc;
    min-height: 150px;
}

/** =========== Error Message ========== */
#MoloniConsoleLogError {
    display: block;
    background-color: white;
    border: 1px solid rgb(241, 241, 241);
    padding: 5px;
    margin: 0 0 10px;
}

/** =========== Menu Logo ========== */
li#toplevel_page_moloni img {
    margin-top: -4px;
}

.blocker {
    z-index: 9999;
}

.modal {
    border-radius: 4px;
    box-shadow: 0 0 0 #0000;
}


.tablenav .tablenav-pages .page-numbers {
    display: inline-block;
    min-width: 28px;
    min-height: 28px;
    margin: 0;
    padding: 0 5px;
    text-align: center;
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    box-shadow: 0 1px 0 #ccc;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    -webkit-appearance: none;
    border-radius: 3px;
    white-space: nowrap;
    box-sizing: border-box;
    transition-property: border, background, color;
    transition-duration: .05s;
    transition-timing-function: ease-in-out;
    font-size: 14px;
    text-decoration: none;
    line-height: 30px;
}

.tablenav .tablenav-pages .page-numbers:hover {
    background: #fafafa;
    border-color: #999;
    color: #23282d;
}

.tablenav .tablenav-pages .page-numbers:active {
    background: #eee;
    border-color: #999;
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, .5);
    transform: translateY(1px);
}

.tablenav .tablenav-pages .page-numbers.current {
    background: #0085ba;
    border-color: #0073aa #006799 #006799;
    box-shadow: 0 1px 0 #006799;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799;
}
